<form id="chatForm">
    <label for="chatInput">Escribe tu mensaje:</label>
    <input type="text" id="chatInput">
    <input type="submit" value="Enviar">
</form>

<div id="messagesContainer">
{{#each messages}}
    <p><strong>{{this.user}} dice: </strong>{{this.message}}</p>
{{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>