<form action="/api/sessions/login" method="post" id="loginForm">
    <label>E-mail:<input type="email" name="email" required><br></label>
    <label>Password:<input type="password" name="password" required><br></label>
    <input type="submit" value="Logear">
</form>
<a href="/register"><button>Registrarse</button></a>

<div>
    <a href="/api/sessions/github">Entrar con github</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>