<form action="/api/sessions/register" method="POST" id="registerForm">
    <label>Nombre:<input type="text" name="name" required><br></label>
    <label>Apellido:<input type="text" name="lastName" required><br></label>
    <label>E-mail:<input type="text" name="email" required><br></label>
    <label>Edad:<input type="number" name="age"><br></label>
    <label>Constraseña:<input type="password" name="password" required><br></label>
    Role: <select name="role">
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
        <option value="PREMIUM">PREMIUM</option>
    </select> <br>
    <input type="submit" value="Registrarse">
</form>
<a href="/login"><button>Logearse</button></a>

{{#if error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: `Ese correo ya esta en uso`,
            allowOutsideClick: true
        })
    </script>
{{/if}}