{{#if isValid}}
<form action="/api/sessions/updatepassword/{{token}}" method="post">
    <div>
        <label for="password">Nueva contraseña</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Actualizar contraseña</button>
</form>
{{else}}
<h1>El enlace es invalido o ya ha expirado.</h1>
<a href="./forgot-password">Volver</a>
{{/if}}